global_defs { 
  router_id {{ hostvars[ansible_nodename] }} 
}

vrrp_instance vrrp_k8s_master {
   interface ens182
   state {{ hostvars[inventory_hostname][keepalived_state] }}
   priority {{ hostvars[inventory_hostname][keepalived_priority] }}

   virtual_ipadresse {
}